* {
  box-sizing: border-box;
}
img {
  width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
}

/* ZenGothicNew */
.zen-kaku-gothic-new-regular {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.267);
  position: sticky;
  top: 0;
  .header-img {
    display: flex;
    justify-content: center;
    height: 60px;
    .left-logo {
      width: 60px;
    }
    .center-logo {
      display: flex;
      margin: 0 auto;
      font-size: 16px;
      align-items: center;
      text-align: center;
    }
    .hamburger {
      margin: 10px;
    }
  }
}
/* ハンバーガーメニュー */
.hamburger {
  margin-left: auto;
  width: 50px;
  height: 50px;
  background: url(../image/menu.png) no-repeat;
  background-size: 200%;

  &.menu-is-open {
    background-position: top 0 left -50px;
  }
}

nav {
  display: none;
}

.hamburger.menu-is-open + nav {
  display: block;
  position: fixed;
  inset: 0;
  margin: auto auto 0;
  max-width: 400px;
  height: 50vh;
  background: #eefcff;
  overflow: auto;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
}

/* メイン */
.mobile-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  margin: 40px 20px;
}

/* フッター */
footer {
  margin-top: auto;
  div {
    width: 100%;
    height: 60px;
    background-color: #7d91a1;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;

    p {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}

/* pc表示の場合↓ */
@media (width>=768px) {
  html {
    font-size: 16px;
  }

  .mobile-layer {
    position: fixed;
    inset: 0;
    margin: auto;
    max-width: 400px;
    height: calc(100vh - 40px);
    .mobile-body {
      background: #eefcff;

      overflow: auto;
      height: inherit;
      box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
    }
  }
  .pc-only {
    height: 100vh;
    background: url("../image/pc-background.jpg") no-repeat;
    background-size: cover;
  }
}
